PORT=4000

NEXT_PUBLIC_SUPABASE_URL=https://id.supabase.co

NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable

NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJ...

SUPABASE_SERVICE_ROLE_KEY=eyJ...
RESEND_API_KEY=re_QB...

SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true            
SMTP_USER=dtech.webdevteam@gmail.com
SMTP_PASS=resu ...
SMTP_FROM="Royal Solutions <dtech.webdevteam@gmail.com>"

JWT_SECRET=...
JWT_EXPIRES_IN=7d          # token dùng cho đăng nhập thực
TEMP_TOKEN_EXPIRES_IN=10
  
# NEXT_PUBLIC_APP_URL=https://shadcn-admin-dashboard-free-eight.vercel.app  
NEXT_PUBLIC_APP_URL=https://localhost:3000 