PORT=4000

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
RESEND_API_KEY=

GMAIL_USER=
GMAIL_APP_PASSWORD=

JWT_SECRET=
JWT_EXPIRES_IN=         
TEMP_TOKEN_EXPIRES_IN=

NEXT_PUBLIC_SITE_URL=
  
 
NEXT_PUBLIC_APP_URL=https://localhost:3000 
NEXT_PUBLIC_VIETQR_BANK_ID=
NEXT_PUBLIC_VIETQR_ACCOUNT_NO=
NEXT_PUBLIC_VIETQR_ACCOUNT_NAME=
NEXT_PUBLIC_VIETQR_TEMPLATE=

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=

WEBHOOK_SECRET=
SUPABASE_SERVICE_ROLE_KEY=